<form>
    <ul class="form-field">
        <p>Heuristics:</p>
        <li *ngFor="let heuristic of heuristics()">
            <div class="heuristic-reason">
                <mat-checkbox color="primary" [checked]="isHeuristicApplied(heuristic)" (change)="checkHeuristicCheckbox(heuristic, $event.checked)"  [disabled]="disableEdit">{{heuristic}}</mat-checkbox>
                <mat-form-field appearance="fill" floatLabel="always" class="form-field reason" *ngIf="isHeuristicApplied(heuristic)">
                    <mat-label>Reason</mat-label>
                    <input type="text" matInput (change)="addReasonForHeuristic($event.target!, heuristic)" [disabled]="disableEdit" value="{{appliedHeuristicsAndReasons.get(heuristic)}}">
                </mat-form-field>
            </div>
        </li>
    </ul>
    <mat-form-field floatLabel="always" class="form-field" id="severity">
        <mat-label>Severity</mat-label>
        <input type="number" matInput [formControl]="severityFormControl">
        <mat-error *ngIf="severityFormControl.hasError('required')">
            Severity is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="severityFormControl.hasError('min') || severityFormControl.hasError('max')">
            Severity must be between 0 and 3
        </mat-error>
    </mat-form-field>
    <button id="annotate-button" *ngIf="!disableEdit" mat-stroked-button color="primary" (click)="submitAnnotation()">Annotate</button>
</form>
