form {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 3px solid rgb(236, 228, 238);
    padding: 10px 20px 0px 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}

#severity {
    width: 120px;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 0px;
}

.form-field {
    padding: 0px 5px 0px 5px;
}

p {
    font-size: 20px;
    color:rgb(92, 13, 110);
    font-weight: 450;
    text-align: center;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

.header-cell-center {
    font-size: 16px;
    text-align: center;
    border-bottom: 2px solid rgb(236, 228, 238);
    border-top: 2px solid rgb(236, 228, 238);
}

.header-cell {
    font-size: 16px;
    border-bottom: 2px solid rgb(236, 228, 238);
    border-top: 2px solid rgb(236, 228, 238);
    padding-left: 20px;
}

mat-checkbox {
    font-size: 16px;
}

::ng-deep .warningSnackbar {
    background: rgb(230, 178, 81);
    color: black;
}

::ng-deep .warningSnackbar button {
    color: black;
}

::ng-deep .successSnackbar {
    background: rgb(137, 231, 137);
    color: black;
}

::ng-deep .successSnackbar button {
    color: black;
}

::ng-deep .errorSnackbar {
    background: rgb(214, 95, 95);
    color: black;
}

::ng-deep .errorSnackbar button {
    color: black;
}

mat-checkbox {
    margin-bottom: 15px;
}

.horizontal-div { 
    margin: auto;
    display: flex;
    flex-direction: row;

}

.horizontal-div>button {
    margin-left: 0px;
}

.chosen-severity-div {
    margin-left: auto;
}

.cell-center {
    text-align: center;
}

#save-button {
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
}

.cell-center > .mat-form-field {
    display: contents;
}