<form>
    <p>Annotation form</p>
    <table>
        <tr>
            <td class="header-cell first-column-cell">Heuristic</td>
            <td class="header-cell">Reason</td>
        </tr>
        <tr *ngFor="let heuristic of heuristics()">
            <td class="first-column-cell">
                <mat-checkbox color="primary" [checked]="isHeuristicApplied(heuristic.name)" 
                (change)="checkHeuristicCheckbox(heuristic.name, $event.checked)"  
                [disabled]="disableEdit"></mat-checkbox>
                {{heuristic.name}}
            </td>
            <td>
                <mat-form-field appearance="outline" class="reason">
                    <input type="text" matInput value="{{appliedHeuristicsAndReasons.get(heuristic.name)}}"
                        (change)="addReasonForHeuristic($event.target!, heuristic.name)" [disabled]="disableEdit">
                </mat-form-field>
            </td>
        </tr>
    </table>
    <div class="horizontal-div">
        <mat-form-field floatLabel="always" class="form-field" id="severity" appearance="outline" *ngIf="!hasPreviousAnnotation">
            <mat-label>Select severity</mat-label>
            <mat-select
                [(ngModel)]="chosenSeverity" name="chosenSeverity" id="chosenSeverity">
                <mat-option *ngFor="let severity of availableSeverities" [value]="severity">{{severity}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngIf="hasPreviousAnnotation" class="chosen-severity-div">
            <mat-label>Chosen severity</mat-label>
            <p *ngIf="!disableEdit" (click)="changeSeverity()">{{chosenSeverity}}</p>
            <p *ngIf="disableEdit">{{chosenSeverity}}</p>
        </div>
        <button *ngIf="!disableEdit" mat-icon-button matTooltip="Note" matTooltipPosition="right" (click)="openNoteDialog()" color="primary">
            <mat-icon *ngIf="instance.hasAnnotationFromLoggedUser && this.instance.annotationFromLoggedUser?.note">insert_drive_file</mat-icon>
            <mat-icon *ngIf="!instance.hasAnnotationFromLoggedUser || !this.instance.annotationFromLoggedUser?.note">note_add</mat-icon>
        </button>
        <button *ngIf="disableEdit && note" mat-icon-button matTooltip="Note" matTooltipPosition="right" (click)="openNoteDialog()" color="primary">
            <mat-icon>insert_drive_file</mat-icon>
        </button>
    </div>
    <button *ngIf="!disableEdit" id="annotate-button" mat-stroked-button color="primary" (click)="submitAnnotation()">Save</button>
</form>
