form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    border: 3px solid white;
    padding: 10px 60px 20px 60px; 
    border-radius: 20px;
}

.heuristic-reason {
    display: flex;
    flex-direction: column;
}

#severity {
    width: 80px;
    margin: auto;
}

.form-field {
    padding: 0px 5px 0px 5px;
}

#annotate-button {
    margin: auto !important;
}

ul {
    list-style-type: none;
}

p {
    font-size: 20px;
}

mat-checkbox {
    font-size: 16px;
}

::ng-deep .warningSnackbar {
    background: rgb(230, 178, 81);
    color: black;
}

::ng-deep .warningSnackbar button {
    color: black;
}

::ng-deep .successSnackbar {
    background: rgb(137, 231, 137);
    color: black;
}

::ng-deep .successSnackbar button {
    color: black;
}

::ng-deep .errorSnackbar {
    background: rgb(214, 95, 95);
    color: black;
}

::ng-deep .errorSnackbar button {
    color: black;
}
