<div id="projectGraph">
    <div class="controls">
        <button mat-button color="primary" (click)="showFullGraph()">Prikazi ceo graf</button>
        <button mat-button color="primary" (click)="louvain()">Louvain algorithm</button>
        <button mat-button color="primary" (click)="otherAlgorithms('infomap')">Infomap algorithm</button>
        <button mat-button color="primary" (click)="otherAlgorithms('girvan_newman')">Girvan-Newman algorithm</button>
        <button mat-button color="primary" (click)="otherAlgorithms('label_propagation')">Label propagation algorithm</button>
    </div>
</div>
