mat-expansion-panel-header {
    padding: 5px;
    margin: 5px;
    height: 5px;
}

mat-expansion-panel-header.mat-expanded {
    height: 5px;
}

mat-expansion-panel {
    background-color:rgb(236, 228, 238);
}

.toolbar {
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    margin: 10px;
}

.table-title {
    padding-left: 0px;
    margin-left: 10px;
}

.table-header {
    margin-left: 10px;
}

.search {
    padding: 0px;
}

#projects-table-div {
    height: fit-content;
    max-height: 290px;
    overflow: auto;
    margin: auto;
}

.mat-cell,
.mat-header-cell {
    padding: 0px 10px 0px 0px;
}

.cell-center {
    text-align: center;
}

.bold-name:hover {
    font-weight: bold;
    cursor: pointer;
}

.toggle-automatic-mode {
    margin-left: 20px;
    color:rgb(92, 13, 110);
    border-radius: 2px;
    font-size: 14px;
    float: right;
} 

#annotations-info {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 550;
}

mat-slide-toggle {
    margin-left: 5px;
    margin-right: 5px;
}

mat-panel-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 550;
}

mat-panel-title>span {
    font-weight: 650;
}

.mat-stroked-button {
    color: rgb(92, 13, 110);
    margin-top: 5px;
    margin-bottom: 5px;
}

.filterForm {
    border-top: 2px solid lightgray;
    margin-left: 10px;
    padding-top: 10px;
}

.horizontal-div {
    display: flex;
    flex-direction: row;
}

.table-container {
    height: max-content;
    background-color: white;
    margin: 10px;
    width: 50%;
}

.filters {
    padding-right: 10px;
}

#ann-status-filter {
    width: 150px;
    margin-right: 10px;
}

#severity-filter {
    width: 100px;
}

#instances-table-div {
    max-height: 290px;
    overflow: auto;
}

#total-instances {
    margin-left: auto;
    margin-right: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 15px;
}

#smell-filter-div {
    display: flex;
    flex-direction: row;
}

.icon-annotated {
    color: green;
}

.icon-not-annotated {
    color: grey;
}

.add-button {
    margin: 5px 20px 0px 0px;
}

.icon-built-project {
    color: green;
}

.icon-failed-project {
    color: darkred;
}

.auto-buttons-div {
    margin: auto;
    display: flex;
    justify-content: center;
}

.auto-buttons-div>button {
    margin: 5px;
}