<div class="mat-toolbar-div">
    <mat-toolbar>
        <div class="options-div">
            <div>
                <span *ngIf="!isLoggedIn()">DataSet Explorer</span>
            </div>
            <div *ngIf="isLoggedIn()" class="horizontal-div">
                <button mat-button (click)="goToDatasets()">
                    Datasets
                </button>
                <button mat-button (click)="goToAnnotationSchema()">
                    Annotation schema
                </button>
                <button mat-button id="logout-button" (click)="logout()">
                    <mat-icon matTooltip="Logout">exit_to_app</mat-icon>
                </button>
            </div>
        </div>
    </mat-toolbar>
</div>