mat-toolbar {
    background-color: rgb(223, 206, 228);
}

.mat-toolbar-div {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.options-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logout-button {
    color: black;
    float: right;
}

.horizontal-div {
    display: flex;
    flex-direction: horizontal;
}

.mat-button {
    color: rgb(92, 13, 110);
}
