<div class="mat-toolbar-div">
    <mat-toolbar>
        <div class="options-div">
            <div *ngIf="!isLoggedIn()">
                <span >DataSet Explorer</span>
            </div>
            <div class="vertical-div">
                <span *ngIf="chosenDataset?.id">Dataset: {{chosenDataset.name}}</span>
                <span *ngIf="chosenProject?.id">Project: {{chosenProject.name}}</span>
                <span *ngIf="chosenInstance?.id">Instance: {{chosenInstance.codeSnippetId}}</span>
                <div class="toggle-option" *ngIf="chosenDataset?.id">
                    Automatic annotation mode
                    <mat-slide-toggle color="primary" (change)="toggleAutomaticMode($event)"></mat-slide-toggle>
                </div>
                <div class="toggle-option" *ngIf="chosenDataset?.id">
                    Annotations counter
                    <mat-slide-toggle [checked]="annotationsCounter" color="primary" (change)="toggleAnnotationsCounter($event)"></mat-slide-toggle>
                </div>
            </div>
            <div *ngIf="isLoggedIn()" class="horizontal-div">
                <button mat-button (click)="goToDatasets()">
                    Datasets
                </button>
                <button mat-button (click)="goToAnnotationSchema()">
                    Annotation schema
                </button>
                <button mat-button id="logout-button" (click)="logout()">
                    <mat-icon matTooltip="Logout">exit_to_app</mat-icon>
                </button>
            </div>
        </div>
    </mat-toolbar>
</div>