mat-toolbar {
    background-color: #bba59c;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 44px;
}

.mat-toolbar-div {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 3000;
}

.toggle-option {
    color: #382110;   
}

.options-div {
    width: 100%;
}

#logout-button {
    color: black;
    float: right;
}

.mat-button {
    color: #382110;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 16px;
    line-height: 50px;
}

.vertical-div {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 17px;
}

mat-card {
    width: 0px;
    margin-right: 50px;
    padding: 0px;
    margin-top: 5px;
}

#avatar {
    background-color: #bba59c;
    border: none;
    float: right;
}

.avatar-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
