mat-toolbar {
    background-color: #bba59c;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 44px;
}

.mat-toolbar-div {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 3000;
}

.toggle-option {
    color: #382110;   
}

.options-div {
    width: 100%;
}

#logout-button {
    color: black;
    float: right;
}

.mat-button {
    color: #382110;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 16px;
    line-height: 50px;
}

.vertical-div {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 17px;
}
