<div mat-dialog-content>
    <p class="table-title">Update {{smellAndHeuristic[1].name}}</p>
    <mat-card fxFlex="30%">
        <mat-card-content fxLayout="column">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input [(ngModel)]="smellAndHeuristic[1].name" type="text" matInput required>
            </mat-form-field><br>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <input [(ngModel)]="smellAndHeuristic[1].description" type="text" matInput required>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Close</button>
    <button mat-button (click)="update()">Update</button>
</div>
