.add-button {
    margin: 5px 20px 0px 0px;
    color: #8f786f;
    background-color: #e4cdc4;
}

mat-cell > span.truncate-text {
    text-overflow: clip; 
    overflow: hidden; 
    white-space: nowrap;
}

.cell-center {
    text-align: center;
}

.datasetName:hover {
    font-weight: bold;
    cursor: pointer;
}

.table-title {
    margin-left: 10px;
    padding-bottom: 20px;
}

.table-header {
    margin-left: 10px;
}

.search {
    padding: 0px;
}

#datasets-table-div {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    border-radius: 3px;
    border: #DCD6CC 1px solid;
    background-color: white;
}

.mat-cell,
.mat-header-cell {
    padding: 0px 10px 0px 0px;
}

.mat-icon {
    color: #8f786f;
}