<div class="table-header">
    <p class="table-title">Severities for {{chosenCodeSmell.name}}</p> 
</div>
<div>
    <ul>
        <li *ngFor="let value of chosenCodeSmell.severityValues">
            {{value}}
            <button mat-icon-button color="primary" (click)="removeSeverityValue(value)">
                <mat-icon matTooltip="Remove">close</mat-icon>
            </button>
        </li>
    </ul>
    <mat-form-field appearance="fill">
        <mat-label>Enter new value</mat-label>
        <input matInput placeholder="Severity value" [(ngModel)]="newSeverityValue">
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="addSeverityValue()">
        <mat-icon matTooltip="Add">check</mat-icon>
    </button>           
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button (click)="saveSeverities()">Save</button>
</div>
