<div class="annotation-container">
    <iframe frameborder=0 id="snippet"></iframe>
    <div class="vertical-container">
        <de-annotation *ngIf="chosenInstance?.id!" (newAnnotation)="addAnnotation($event)" (changedAnnotation)="changeAnnotation($event)" [codeSmell]="selectedCodeSmell" [instanceId]="chosenInstance?.id!" [previousAnnotation]="previousAnnotation">
        </de-annotation> 
        
        <div  id="related-instances" *ngIf="chosenInstance?.id! && chosenInstance?.relatedInstances!.length > 0">
            <p class="table-title">Related instances:</p>
            <table mat-table [dataSource]="dataSourceRelatedInstances" class="mat-elevation-z8" multiTemplateDataRows>
                <ng-container matColumnDef="codeSnippetId">
                    <th mat-header-cell *matHeaderCellDef width="50%">Code snippet id</th>
                    <td mat-cell *matCellDef="let instance">
                        <a href="{{instance.link}}" target="_blank">{{formatUrl(instance.codeSnippetId)}}</a>
                    </td>
                </ng-container>
                <ng-container matColumnDef="relationType">
                    <th mat-header-cell *matHeaderCellDef width="45%" class="cell-center">Relation type</th>
                    <td mat-cell *matCellDef="let instance"  class="cell-center">
                        <mat-icon *ngIf="instance.relationType=='References'" class="green-icon" matTooltip="references {{chosenInstanceName}}">call_received</mat-icon>
                        <mat-icon *ngIf="instance.relationType=='Referenced'" class="orange-icon" matTooltip="referenced by {{chosenInstanceName}}">call_made</mat-icon>
                        <span *ngIf="instance.relationType=='Parent'">{{instance.relationType}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="couplingStrength">
                    <th mat-header-cell *matHeaderCellDef width="5%" class="cell-center">Coupling strength</th>
                    <td mat-cell *matCellDef="let instance" class="cell-center">
                        {{instance.couplingStrength}}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsRelatedInstances"></tr>
                <tr mat-row matRipple *matRowDef="let row; columns: displayedColumnsRelatedInstances;"></tr>
            </table>
        </div>
    </div>
</div>

