<div class="annotation-container">
  <div class="vertical-container2">
    <p class="github-link">Check the instance on GitHub!
      <a href="{{chosenInstance.link}}" target="_blank">
        <mat-icon>open_in_new</mat-icon>
      </a>
    </p>
    <iframe frameborder=0 id="snippet"></iframe>
  </div>
  <div class="vertical-container">
    <de-annotation-form [codeSmell]="selectedSmell" [instanceId]="chosenInstance.id">
    </de-annotation-form>

    @if (chosenInstance.id) {
      <div class="auto-buttons-div">
        <button mat-stroked-button (click)="loadPreviousInstance()" matTooltip="ALT + left_arrow">Back</button>
        <button mat-stroked-button (click)="loadNextInstance()" matTooltip="ALT + right_arrow">Next</button>
      </div>
    }

    @if (chosenInstance.relatedInstances.length > 0) {
      <div class="table-container container">
        <p class="table-title">Related instances:</p>
        <div id="related-instances-table-div">
          <table id="related-instances-table" mat-table [dataSource]="dataSourceRelatedInstances" class="mat-elevation-z8" multiTemplateDataRows >
            <ng-container matColumnDef="codeSnippetId">
              <th mat-header-cell *matHeaderCellDef>Code snippet id</th>
              <td mat-cell *matCellDef="let instance">
                <a href="{{instance.link}}" target="_blank">{{formatUrl(instance.codeSnippetId)}}</a>
              </td>
            </ng-container>
            <ng-container matColumnDef="relationType">
              <th mat-header-cell *matHeaderCellDef width="5%" class="cell-center">Relation type</th>
              <td mat-cell *matCellDef="let instance"  class="cell-center">
                @if (instance.relationType=='References') {
                  <mat-icon class="green-icon" matTooltip="references {{chosenInstance | className}}">call_received</mat-icon>
                }
                @if (instance.relationType=='Referenced') {
                  <mat-icon class="orange-icon" matTooltip="referenced by {{chosenInstance | className}}">call_made</mat-icon>
                }
                @if (instance.relationType=='Parent') {
                  <mat-icon class="blue-icon" matTooltip="parent">arrow_upward</mat-icon>
                }
                @if (instance.relationType=='BelongsTo') {
                  <mat-icon class="purple-icon" matTooltip="{{chosenInstance | className}} belongs to">arrow_upward</mat-icon>
                }
                @if (instance.relationType=='Subclass') {
                  <mat-icon class="pink-icon" matTooltip="subclass of {{chosenInstance | className}}">arrow_downward</mat-icon>
                }
              </td>
            </ng-container>
            <ng-container matColumnDef="couplingStrength">
              <th mat-header-cell *matHeaderCellDef width="5%" class="cell-center">Coupling strength</th>
              <td mat-cell *matCellDef="let instance" class="cell-center" title="{{instance.couplingTypeAndStrength | json}}">
                {{totalCouplingStrength.get(instance.id)}}
              </td>
            </ng-container>
            <ng-container matColumnDef="couplingType">
              <th mat-header-cell *matHeaderCellDef width="5%" class="cell-center">Coupling details</th>
              <td mat-cell *matCellDef="let instance" class="cell-center">
                {{instance.couplingTypeAndStrength | couplingDetails}}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsRelatedInstances; sticky: true"></tr>
            <tr mat-row matRipple *matRowDef="let row; columns: displayedColumnsRelatedInstances;"></tr>
          </table>
        </div>
      </div>
    } @else {
      <div id="no-related"></div>
    }
  </div>
</div>
