.table-container {
    height: max-content;
    background-color: white;
    margin: 10px;
    width: 100%;
    border-radius: 3px;
    border: #DCD6CC 1px solid;
}

.table-title {
    padding-left: 0px;
    margin-left: 10px;
}

.table-header {
    margin-left: 10px;
}

.search {
    padding: 0px;
}

.add-button {
    margin: 5px 20px 0px 0px;
    color: #8f786f;
    background-color: #e4cdc4;
}

.add-multiple-button {
    margin: 5px 20px 0px 0px;
    color: #8f786f;
    background-color: #e4cdc4;
}

#projects-table-div {
    height: fit-content;
    max-height: 290px;
    overflow: auto;
    margin: auto;
}

.mat-cell,
.mat-header-cell {
    padding: 0px 10px 0px 0px;
}

.cell-center {
    text-align: center;
}

.bold-name:hover {
    font-weight: bold;
    cursor: pointer;
}

.icon-built-project {
    color: green;
}

.icon-failed-project {
    color: darkred;
}

.filterForm {
    border-top: 2px solid lightgray;
    margin-left: 10px;
    padding-top: 10px;
}

.mat-stroked-button {
    color: #382110;
    margin-top: 5px;
    margin-bottom: 5px;
}

.toggle-annotation-info {
    margin-left: 20px;
}

.mat-menu-item>mat-icon,.mat-icon-button, mat-slide-toggle, mat-icon {
    color: #382110;
}

.export-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.export-spinner-container {
    background-color: white;
    padding: 30px 40px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.export-message {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}

.cancel-button {
    margin-top: 20px;
}

.export-spinner-container ::ng-deep .mat-progress-spinner circle,
.export-spinner-container ::ng-deep .mat-spinner circle {
    animation-duration: 5s !important;
}

.export-spinner-container ::ng-deep .mat-progress-spinner svg,
.export-spinner-container ::ng-deep .mat-spinner svg {
    animation-duration: 5s !important;
}