<h1 mat-dialog-title>Annotations consistency</h1>
<mat-dialog-content class="ann-consistency-dialog">
    <form>
        <table cellspacing="2">
            <tr>
                <mat-form-field appearance="fill" floatLabel="always" class="consistency-type-select">
                    <mat-label>Consistency type</mat-label>
                    <mat-select name="consistencies" [(ngModel)]="selectedConsistencyType" (selectionChange)="consistencyTypeChanged()" required [formControl]="typeFormControl">
                        <mat-option *ngFor="let type of consistencyTypes" [value]="type">{{type}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-stroked-button (click)="getConsistencyResults()" color="primary">Check</button>
            </tr>
            <tr>
                <mat-form-field id="severity" appearance="fill" floatLabel="always" *ngIf="severityNeeded" class="severity">
                    <mat-label>Severity</mat-label>
                    <input type="number" matInput [formControl]="severityFormControl">
                    <mat-error *ngIf="severityFormControl.hasError('required')">
                        Severity is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="severityFormControl.hasError('min') || severityFormControl.hasError('max')">
                        Severity must be between 0 and 3
                    </mat-error>
                </mat-form-field>
            </tr>
        </table>
    </form>
    <div *ngIf="results.size">
        <h1>Results</h1>
        <p>Select a result to display:</p>
        <ng-container *ngFor="let resultDescription of results.keys()">
            <tr>
                <div class="show-result">
                    <button mat-stroked-button color="primary" (click)="showResult(resultDescription)">{{resultDescription}}</button>
                </div>
            </tr>
        </ng-container>
        <mat-form-field appearance="fill" class="result" *ngIf="showResultClicked">
            <mat-label>{{resultDescription}}</mat-label>
            <textarea matInput [(ngModel)]="selectedResult" class="result" disabled></textarea>
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="warn">Close</button>
</mat-dialog-actions>
