<h2 mat-dialog-title>Consistency between annotations</h2>
<mat-dialog-content class="mat-typography">
    <form>
        <table cellspacing="2">
            <tr>
                <mat-form-field appearance="fill" floatLabel="always" style="width: 300px;">
                    <mat-label>Heuristics</mat-label>
                    <mat-select name="consistencies" [(ngModel)]="selectedConsistencyType" (selectionChange)="consistencyTypeChanged()" required>
                        <mat-option *ngFor="let type of consistencyTypes" [value]="type">{{type}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </tr>
            <tr>
                <mat-form-field appearance="fill" floatLabel="always" *ngIf="severityNeeded" style="padding-right: 10px;">
                    <mat-label>Severity</mat-label>
                    <input type="number" matInput [formControl]="severityFormControl">
                    <mat-error *ngIf="severityFormControl.hasError('required')">
                        Severity is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="severityFormControl.hasError('min') || severityFormControl.hasError('max')">
                        Severity must be between 0 and 3
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button (click)="getConsistencyResults()" color="primary">Get results</button>
            </tr>
        </table>
    </form>
    <div *ngIf="results.size">
        <h4>Results:</h4>
        <ng-container *ngFor="let resultDescription of results.keys()">
            <tr>
                <div style="padding: 0px 0px 5px 0px;">
                    <button mat-raised-button color="primary" (click)="showResult(resultDescription)">{{resultDescription}}</button>
                </div>
            </tr>
        </ng-container>
        <mat-form-field appearance="fill" style="width: 400px;">
            <mat-label>{{resultDescription}}</mat-label>
            <textarea matInput [(ngModel)]="selectedResult" style="height: 250px;"></textarea>
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close color="warn">Close</button>
</mat-dialog-actions>
