.consistency-type-select {
    width: 300px;
    margin-right: 20px;
}


.severity {
    padding-right: 10px;
}

.show-result {
    padding: 0px 0px 5px 0px;
}

.result {
    height: max-content;
    width: 500px;
}

h1 {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    color: #382110;
    text-align: center;
}

#severity {
    width: 180px;
}

::ng-deep .warningSnackbar {
    background: rgb(230, 178, 81);
    color: black;
}

::ng-deep .warningSnackbar button {
    color: black;
}

p {
    font-size: 18px;
    padding-left: 10px;
}

.mat-stroked-button {
    color: #382110;
}