.container {
  display: flex;
}

#classGraphNeighbours {
  flex-grow: 1;
  margin: 5px;
  position: relative;
}

.controls {
  width: 250px;
  display: block;
  right: 0;
  position: absolute;
}

button {
  margin: 10px;
  width: 220px;
  background-color: grey;
}
