<div class="data-set-project-container mat-elevation-z8 center-horizontally container" *ngIf="!isProjectsEmpty()">
    <mat-form-field appearance="standard" class="search">
        <mat-label>Search by name</mat-label>
        <input matInput (keyup)="searchProjects($event)" placeholder="My project">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef width="5%">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="toggleAllProjectsSelection()" [checked]="selection.hasValue() && isAllProjectsSelected()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let project" width="5%">
                <ng-container *ngIf="project.instances?.length">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="toggleProjectSelection(project)" [checked]="selection.isSelected(project)">
                    </mat-checkbox>
                </ng-container>
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef width="20%"> Name </th>
            <td mat-cell *matCellDef="let project" width="20%"> {{project.name}} </td>
        </ng-container>
        <ng-container matColumnDef="url">
            <th mat-header-cell *matHeaderCellDef width="60%"> URL </th>
            <td mat-cell *matCellDef="let project" width="60%">
                <a href="{{project.url}}" target="_blank">{{project.url}}</a>
            </td>
        </ng-container>
        <ng-container matColumnDef="numOfInstances">
            <th mat-header-cell *matHeaderCellDef width="5%"> Number of instances </th>
            <td mat-cell *matCellDef="let project" width="5%">{{project.instances?.length || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef width="5%"> Status </th>
            <td mat-cell *matCellDef="let project" width="5%">
                <ng-container *ngIf="project.state == projectState.Processing">
                    <mat-spinner color="warn" diameter="20">
                    </mat-spinner>
                </ng-container>
                <ng-container *ngIf="project.state == projectState.Built">
                    <mat-icon>check_circle_outline</mat-icon>
                </ng-container>
                <ng-container *ngIf="project.state == projectState.Failed">
                    <mat-icon>highlight_off</mat-icon>
                </ng-container>
            </td>
        </ng-container>
        <ng-container matColumnDef="consistency">
            <th mat-header-cell *matHeaderCellDef width="5%"> Consistency </th>
            <td mat-cell *matCellDef="let project" width="5%">
                <ng-container *ngIf="project.instances.length > 0">
                    <button mat-raised-button color="primary" (click)="checkConsistency(project.id)">Check consistency</button>
                </ng-container>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>
    <div class="find-annotations">
        <div class="instance-filter">
            <button mat-raised-button color="primary" (click)="showAllInstances()" [disabled]="selection.selected.length == 0">All</button>
        </div>
        <div class="instance-filter">
            <button mat-raised-button color="primary" (click)="showInstancesForAdditionalAnnotation()" [disabled]="selection.selected.length == 0">Need additional annotations</button>
        </div>
        <div class="instance-filter">
            <button mat-raised-button color="primary" (click)="showInstancesWithDisagreeingAnnotations()" [disabled]="selection.selected.length == 0">Disagreeing annotations</button>
        </div>
    </div>
</div>

<div class="top-padding">
    <de-data-set-instance [instances]="instancesToShow" [filter]="filter" (changedInstance)="changedInstance($event)"></de-data-set-instance>
</div>
