.project-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 20px;
    background-color: white;
}

.find-annotations {
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.instance-filter {
    padding: 0px 5px 0px 5px
}

.mat-table {
    width: 100%; 
}

#projects-table-div {
    height: fit-content;
    max-height: 290px;
    overflow: auto;
}

.mat-cell,
.mat-header-cell {
    padding: 0px 10px 0px 0px;
}

.add-button {
    margin: 5px 20px 0px 0px;
}

.icon-built-project {
    color: green;
}

.icon-failed-project {
    color: darkred;
}

.cell-center {
    text-align: center;
}

.message {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    font-size: 22px;
    font-style: italic;
    text-shadow: 2px 2px 8px lightgray;
    opacity: 0.7;
}

.filterForm {
    margin-top: 10px;
    margin-left: 20px;
}
