<p *ngIf="codeSmellDefinition?.severityRange != null" class="warning-message">WARNING: Severity range is already defined!</p>
<h1 mat-dialog-title>Severity values for {{this.codeSmellDefinition?.name}}</h1>
<div mat-dialog-content>
  <ul>
    <li *ngFor="let value of this.codeSmellDefinition?.severityValues">
      {{value}}
      <button mat-icon-button color="primary" (click)="removeValue(value)">
        <mat-icon matTooltip="Remove">close</mat-icon>
      </button>
    </li>
  </ul>
  <mat-form-field appearance="fill">
    <mat-label>Enter new value</mat-label>
    <input matInput placeholder="Severity value" [(ngModel)]="newSeverityValue">
  </mat-form-field>
  <button mat-icon-button color="primary" (click)="addSeverityValue()">
    <mat-icon matTooltip="Add">check</mat-icon>
  </button>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button (click)="save()">Save</button>
</div>
