.horizontal-div {
    display: flex;
    flex-direction: row;
}

.vertical-div {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-top: 60px;
}

.avatar-container {
    margin-left: 15%;
    margin-top: 50px;
}

.avatar-circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.name {
    color: #382110;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 2;
    font-weight: bold;
}

.firstRow {
    border-bottom: 1px solid #e4cdc4;
    
}

.firstColumn {
    font-weight: bold;
}

table {
    margin-top: 10px;
}

td, .firstColumn {
    color: #382110;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-right: 50px;
}

::ng-deep .warningSnackbar {
    background: rgb(230, 178, 81);
    color: black;
}

::ng-deep .warningSnackbar button {
    color: black;
}