.instance-container {
    margin: 20px;
    height: max-content;
    background-color: white;
}

.filters {
    padding: 0px 20px 0px 10px;
}

#snippet {
    width: 70%;
    margin: 20px;
}

.mat-cell,
.mat-header-cell {
    padding: 0px 10px 0px 0px;
}

.annotation-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

mat-form-field {
    padding-right: 10px;
}

.annotation-detail {
    overflow: hidden;
}

tr.annotation-row {
    height: 0;
}

.icon-annotated {
    color: green;
}

.icon-not-annotated {
    color: grey;
}

.cell-center {
    text-align: center;
}

.message {
    margin: 50px;
    text-align: center;
    font-size: 22px;
    font-style: italic;
    text-shadow: 2px 2px 8px lightgray;
    opacity: 0.7;
}

mat-expansion-panel {
    width: 98%;
    padding: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(222, 236, 241);
}

mat-panel-title {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(92, 13, 110);
    font-weight: 550;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

mat-panel-description {
    margin: 10px;
    margin-left: 130px;
    padding: 10px;
}

mat-expansion-panel-header,
mat-expansion-panel-header.mat-expanded:hover {
    border: 2px solid white;
    border-radius: 10px;
}

#instances-table-div {
    min-height: fit-content;
    max-height: 300px;
    overflow: auto;
}

de-annotation {
    width: 25%;
    margin: 20px;
}

.mat-table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}