.instance-container {
    height: max-content;
    background-color: white;
}

.filters {
    padding: 0px 20px 0px 10px;
}

.mat-cell,
.mat-header-cell {
    padding: 0px 10px 0px 0px;
}

mat-form-field {
    padding-right: 10px;
}

.icon-annotated {
    color: green;
}

.icon-not-annotated {
    color: grey;
}

.cell-center {
    text-align: center;
}

.message {
    margin: 50px;
    text-align: center;
    font-size: 22px;
    font-style: italic;
    text-shadow: 2px 2px 8px lightgray;
    opacity: 0.7;
}

#instances-table-div {
    min-height: fit-content;
    max-height: 300px;
    overflow: auto;
}

.mat-table {
    width: 100%;
}

#severity-filter {
    width: 100px;
}

#ann-status-filter {
    width: 150px;
}

#smell-filter-div {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

#smell-filter-div > p {
    font-size: 18px;
    text-shadow: 2px 2px 8px lightgray;
    margin: 20px 10px 0px 20px;
    color: rgb(92, 13, 110);
}

tr.mat-footer-row {
    font-weight: bold;
  }
  
.mat-table-sticky {
    border-top: 1px solid rgb(168, 166, 166);
}
