.mat-cell,
.mat-header-cell {
    padding: 0px 10px 0px 0px;
}

mat-form-field {
    padding-right: 10px;
}

.cell-center {
    text-align: center;
}

.message {
    margin: 50px;
    text-align: center;
    font-size: 22px;
    font-style: italic;
    text-shadow: 2px 2px 8px lightgray;
    opacity: 0.7;
}

.mat-table {
    width: 100%;
}

tr.mat-footer-row {
    font-weight: bold;
  }
  
.mat-table-sticky {
    border-top: 1px solid rgb(168, 166, 166);
}

.filterForm {
    margin-left: 20px;
    border-top: 2px solid lightgray;
}
