.data-set-instance-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.instances-table {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 40%;
}

.code-snippet {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.filter-instances {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.center-horizontally {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.mat-table {
    overflow: auto;
    max-height: 600px;
    width: 100%;
}

.mat-cell,
.mat-header-cell {
    padding: 0px 10px 0px 0px;
}
