.data-set-instance-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.instances-table {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 40%;
}

.code-snippet {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.mat-table {
    overflow: auto;
    max-height: 600px;
    width: 100%;
}

.mat-cell,
.mat-header-cell {
    padding: 0px 10px 0px 0px;
}
