<button mat-raised-button (click)="addDataSets()" color="warn">Add projects</button>

<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef width="10px"> Id </th>
            <td mat-cell *matCellDef="let element" width="10px"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="url">
            <th mat-header-cell *matHeaderCellDef width="60%"> URL </th>
            <td mat-cell *matCellDef="let element" width="60%">
                <a href="{{element.url}}">{{element.url}}</a>
            </td>
        </ng-container>
        <ng-container matColumnDef="loading">
            <th mat-header-cell *matHeaderCellDef width="10px"> Loading </th>
            <td mat-cell *matCellDef="let element" width="10px">
                <ng-container *ngIf="element.state == 0">
                    <mat-spinner class="example-margin" color="warn" diameter="20">
                    </mat-spinner>
                </ng-container>
                <ng-container *ngIf="element.state == 1">
                    <mat-icon>check_circle_outline</mat-icon>
                </ng-container>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>

    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>
</div>
