<h1 class="table-title">Disagreeing annotations</h1>
<mat-dialog-content class="mat-typography">
    <form>
        <table cellspacing="2">
            <ng-container *ngFor="let annotation of instanceWithDisagreeingAnnotations.annotations">
                <tr>
                    <th *ngIf="annotation.annotator.id == loggedAnnotatorId">
                        Your annotations
                    </th>
                    <th *ngIf="annotation.annotator.id != loggedAnnotatorId">
                        Annotator {{annotation.annotator.id}}
                    </th>
                </tr>
                <tr>
                    <td>
                        <de-annotation [instanceId]="instanceWithDisagreeingAnnotations.instanceId" [previousAnnotation]="annotation" [disableEdit]="true">
                        </de-annotation> 
                    </td>
                </tr>
            </ng-container>
        </table>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-stroked-button mat-dialog-close color="primary">Close</button>
</mat-dialog-actions>
