<div class="horizontal-div">
  <div class="legend-div">
    <div class="tips-list">
      <div class="tip">
        <mat-icon class="red-circle">circle</mat-icon>
        <span>Chosen instance</span>
      </div>
      <div class="tip">
        <mat-icon class="blue-circle" >circle</mat-icon>
        <span>Parent instance</span>
      </div>
      <div class="tip">
        <mat-icon class="yellow-circle">circle</mat-icon>
        <span>Referenced by chosen instance</span>
      </div>
      <div class="tip">
        <mat-icon class="green-circle">circle</mat-icon>
        <span>Reference chosen instance</span>
      </div>
    </div>  

    <br><br>
    <div class="tips-list">
      <div class="tip">
        <mat-icon>share</mat-icon>
        <span>Double-click to expand the graph</span>
      </div>
      <div class="tip">
        <mat-icon>code</mat-icon>
        <span>Right-click to open source code</span>
      </div>
    </div>  
  </div>

  <div class="container">
    <div id="neighboursGraph">
    </div>
  </div>
</div>
