<mat-chip-list>
  <div class="chips">
    <mat-chip>
      <mat-icon class="red-circle">circle</mat-icon>
      Chosen instance
    </mat-chip>
    <mat-chip color="primary">
      <mat-icon class="blue-circle">circle</mat-icon>
      Parent instance
    </mat-chip>
    <mat-chip color="accent">
      <mat-icon class="yellow-circle">circle</mat-icon>
      Referenced by chosen instance
    </mat-chip>
    <mat-chip color="accent">
      <mat-icon class="green-circle">circle</mat-icon>
      Reference chosen instance
    </mat-chip>
  </div>  
</mat-chip-list>
<div class="container">
  <div id="neighboursGraph">
  </div>
</div>
