.container {
  display: flex;
  height: 1000px;
}

#neighboursGraph {
  flex-grow: 1;
  margin: 5px;
  position: relative;
}

.controls {
  width: 250px;
  display: block;
  right: 0;
  position: absolute;
}

button {
  margin: 10px;
  width: 220px;
  background-color: grey;
}

.red-circle{
  color: red;
}

.blue-circle {
  color: #65b8ec;
}

.yellow-circle {
  color: #ffa500;
}

.green-circle {
  color: #008000;
}

.chips{
  display: flex;
  flex-direction: column;
}