<div class="table-container mat-elevation-z8 container">
    <div class="table-header">
        <p class="table-title">Code smells</p>
        <button class="add-button" mat-mini-fab matTooltip="New code smell" matTooltipPosition="right" (click)="addCodeSmell()" color="primary">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="table-header">
        <mat-form-field appearance="fill" class="search">
            <mat-label>Search by name</mat-label>
            <input matInput (keyup)="searchCodeSmells($event)" placeholder="Code smell name">
        </mat-form-field>
        <div class="filters">
            <mat-form-field appearance="fill"  id="snippet-type-filter">
                <mat-label>Snippet type</mat-label>
                <mat-select [(value)]="selectedSnippetType" (selectionChange)="filterBySnippetType()">
                    <mat-option [value]="type" *ngFor="let type of snippetTypes">{{type}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <table mat-table [dataSource]="codeSmellsDataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef width="20%"> Name </th>
            <td mat-cell *matCellDef="let codeSmellDefinition">
                <span class="truncate-text">{{codeSmellDefinition.name}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef class="cell-center" width="20%">Description</th>
            <td mat-cell *matCellDef="let codeSmellDefinition"class="cell-center">{{codeSmellDefinition.description}}</td>
        </ng-container>
        <ng-container matColumnDef="snippetType">
            <th mat-header-cell *matHeaderCellDef class="cell-center" width="20%">Snippet type</th>
            <td mat-cell *matCellDef="let codeSmellDefinition"class="cell-center">{{codeSmellDefinition.snippetType}}</td>
        </ng-container>
        <ng-container matColumnDef="severityRange">
            <th mat-header-cell *matHeaderCellDef class="cell-center"width="10%">Severity range</th>
            <td mat-cell *matCellDef="let codeSmellDefinition" class="cell-center">
                <button mat-icon-button color="primary" class="center-horizontally" (click)="showSeverityRange(codeSmellDefinition)">
                    <mat-icon matTooltip="Show">more_horiz</mat-icon>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="severityValues">
            <th mat-header-cell *matHeaderCellDef class="cell-center">Severity values</th>
            <td mat-cell *matCellDef="let codeSmellDefinition" class="cell-center">
                <button mat-icon-button color="primary" class="center-horizontally" (click)="showSeverityValues(codeSmellDefinition)">
                    <mat-icon matTooltip="Show">more_horiz</mat-icon>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let codeSmellDefinition">
                <button mat-icon-button (click)="updateCodeSmellDefinition(codeSmellDefinition)" color="primary" class="center-horizontally">
                    <mat-icon matTooltip="edit">edit</mat-icon>
                </button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let codeSmellDefinition">
                <button mat-icon-button (click)="deleteCodeSmellDefinition(codeSmellDefinition)" color="primary" class="center-horizontally">
                    <mat-icon matTooltip="delete">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="codeSmellsDisplayedColumns"></tr>
        <tr mat-row (click)="chooseCodeSmell(row)" *matRowDef="let row; columns: codeSmellsDisplayedColumns;"></tr>
    </table>
</div>

<div class="table-container mat-elevation-z8 container" *ngIf="chosenCodeSmellDefinition">
    <div class="table-header">
        <p class="table-title">Heuristics for {{chosenCodeSmellDefinition?.name}}</p>
    </div>
    <div class="table-header">
        <mat-form-field appearance="fill" class="search">
            <mat-label>Search by name</mat-label>
            <input matInput (keyup)="searchHeuristics($event)" placeholder="Heuristic name">
        </mat-form-field>
        <button class="add-button" mat-mini-fab matTooltip="Add heuristic" matTooltipPosition="right" (click)="addHeuristic()" color="primary">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    
    <table mat-table [dataSource]="heuristicsDataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef width="30%"> Name </th>
            <td mat-cell *matCellDef="let heuristic">
                <span class="truncate-text">{{heuristic.name}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef class="cell-center">Description</th>
            <td mat-cell *matCellDef="let heuristic"class="cell-center">{{heuristic.description}}</td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef class="cell-center" width="10%"></th>
            <td mat-cell *matCellDef="let heuristic" class="cell-center">
                <button mat-icon-button color="primary" class="center-horizontally" (click)="removeHeuristic(heuristic)">
                    <mat-icon matTooltip="Delete">delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef class="cell-center"></th>
            <td mat-cell *matCellDef="let heuristic" class="cell-center">
                <button mat-icon-button (click)="updateHeuristic(heuristic)" color="primary" class="center-horizontally">
                    <mat-icon matTooltip="edit">edit</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="heuristicsDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: heuristicsDisplayedColumns;"></tr>
    </table>
</div>