html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.search {
    padding: 20px 0px 0px 20px;
    width: 300px;
}

.top-padding {
    padding-top: 30px;
}

.mat-raised-button.mat-primary {
    color: #f0fff3;
    background-color: #1900af;
}

.mat-button.mat-success {
    color: #1bc51b;
}

.center {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.table-title {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(92, 13, 110);
    font-weight: 550;
    margin: 10px 0px 0px 20px;
    padding-top: 10px;
    text-align: center;
}

.table-header {
    justify-content: space-between; 
    display: flex; 
}


tr.mat-row:hover {
    background: whitesmoke;
}

.row-chosen, tr.mat-row.row-chosen:hover {
    background: rgb(219, 209, 228);
}
