<form *ngIf="instanceId" id="annotation-form">
    <div class="container annotation-data">
        <ul class="form-field">
            <li *ngFor="let heuristic of getAvailableHeuristics()">
                <mat-checkbox color="primary" [checked]="isHeuristicApplied(heuristic)" (change)="checkHeuristicCheckbox(heuristic, $event.checked)"  [disabled]="disableEdit">{{heuristic}}</mat-checkbox>
            </li>
        </ul>
    </div>
    <div class="heuristic-reasons">
        <ng-container *ngFor="let heuristic of heuristics.value">
            <mat-form-field appearance="fill" floatLabel="always" class="form-field">
                <mat-label>Reason ({{heuristic}})</mat-label>
                <input type="text" id="reason-{{heuristic}}-{{annotatorId}}" matInput (change)="addReasonForHeuristic($event.target!, heuristic)" [disabled]="disableEdit">
            </mat-form-field>
        </ng-container>
    </div>
    <div class="annotate-container">
        <div class="container" id="severity-div">
            <mat-form-field floatLabel="always" class="form-field"  id="severity">
                <mat-label>Severity</mat-label>
                <input type="number" matInput [formControl]="severityFormControl">
                <mat-error *ngIf="severityFormControl.hasError('required')">
                    Severity is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="severityFormControl.hasError('min') || severityFormControl.hasError('max')">
                    Severity must be between 0 and 3
                </mat-error>
            </mat-form-field>
        </div>
        <div class="annotate" *ngIf="!disableEdit">
            <button mat-stroked-button color="primary" (click)="annotate()">Annotate</button>
        </div>
    </div>
</form>
