form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    border: 3px solid white;
    padding: 10px 30px 20px 0px; 
    border-radius: 20px;
}

.horizontal-div {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-bottom: 20px;
}

.note-div {
    margin-top: auto;
    padding-left: 20px;
    border-left: 3px solid white;
}

.full-width {
    width: 100%;
}

.heuristic-reason {
    display: flex;
    flex-direction: column;
}

#severity {
    width: 80px;
    margin: auto;
}

.reason {
    width: 100%;
}

#annotate-button {
    margin: auto !important;
}

ul {
    list-style-type: none;
    padding-right: 20px;
}

p {
    font-size: 20px;
}

mat-checkbox {
    font-size: 16px;
}

::ng-deep .warningSnackbar {
    background: rgb(230, 178, 81);
    color: black;
}

::ng-deep .warningSnackbar button {
    color: black;
}

::ng-deep .successSnackbar {
    background: rgb(137, 231, 137);
    color: black;
}

::ng-deep .successSnackbar button {
    color: black;
}

::ng-deep .errorSnackbar {
    background: rgb(214, 95, 95);
    color: black;
}

::ng-deep .errorSnackbar button {
    color: black;
}
