<form *ngIf="instanceId">
    <div class="container annotation-data">
        <mat-form-field appearance="fill" floatLabel="always" class="form-field">
            <mat-label>Severity</mat-label>
            <input type="number" matInput [formControl]="severityFormControl">
            <mat-error *ngIf="severityFormControl.hasError('required')">
                Severity is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="severityFormControl.hasError('min') || severityFormControl.hasError('max')">
                Severity must be between 0 and 3
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always" class="form-field">
            <mat-label>Heuristics</mat-label>
            <mat-select [formControl]="heuristics" multiple name="heuristics">
                <mat-option *ngFor="let heuristic of getAvailableHeuristics()" [value]="heuristic">{{heuristic}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="heuristic-reasons">
        <ng-container *ngFor="let heuristic of heuristics.value">
            <mat-form-field appearance="fill" floatLabel="always" class="form-field">
                <mat-label>Reason: {{heuristic}}</mat-label>
                <input type="text" id="reason-{{heuristic}}-{{annotatorId}}" matInput (change)="addReasonForHeuristic($event.target!, heuristic)" [disabled]="disableEdit">
            </mat-form-field>
        </ng-container>
    </div>
    <div class="annotate" *ngIf="!disableEdit">
        <button class="center-horizontally" mat-raised-button color="primary" (click)="annotate()">Annotate</button>
    </div>
</form>
