<h2 mat-dialog-title>Add new projects</h2>
<mat-dialog-content class="mat-typography">
    <button mat-icon-button (click)="addEmptyProject()">
        <mat-icon>add_circle</mat-icon>
      </button>
    <form class="example-form">
        <table class="example-full-width" cellspacing="2">
            <ng-container *ngFor="let project of projects">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Project name</mat-label>
                            <input [(ngModel)]="project.name" name="name" type="text" matInput>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>URL</mat-label>
                            <input [(ngModel)]="project.url" name="url" type="url" matInput>
                        </mat-form-field>
                    </td>
                </tr>
            </ng-container>
        </table>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="createDataSets()">Add</button>
</mat-dialog-actions>
